/*Main Site colors*/
$primary-color: #191226;
$secondary-color: #121212;

/*Font colors*/
$primary-font-color: #fff;

/*Span bg colors */
$normal-color: #4cdebc;
$magic-color: #5afef9;
$rare-color: #805bfe;
$legend-color: #93fe5a;
