@use "../mixins" as m;

$bp-small: 384px; // 384   24em
$bp-small-2: 500px; // 500   31.25em
$bp-small-3: 636px; // 636   39.8em
$bp-med: 748px; // 748   46.8em
$bp-med-2: 800px; // 800   50em
$bp-large: 872px; // 872   54.5em
$bp-large-2: 1200px; // 1200  75em
$bp-xl: 1440px; // 1440  90em
$bp-xl-2: 1980px; // 1980  123.75em
$bp-xl-3: 2560px; // 2560  160em
$bp-xl-4: 3840px; // 2560  160em

$heading-font-size-small: 3.75vh;
$heading-font-size-small-2: 1.65rem;
$heading-font-size-med: 2.25rem;
$heading-font-size-large: 2.75rem;

$text-font-size-small: 0.6rem;
$text-font-size-small-2: 1.125rem;
$text-font-size-med: 1.35rem;
$text-font-size-large: 1.5rem;

$list-text-font-size-small: 0.6rem;
$list-text-font-size-small-2: 0.675rem;
$list-text-font-size-med: 1rem;
$list-text-font-size-large: 1.25rem;

@mixin heading() {
    font-size: $heading-font-size-small;
    font-family: PFRondaSeven; // PFRondaSeven Safety Goggles Atlantis
    text-align: center;

    @media (min-width: $bp-small-3) {
        font-size: $heading-font-size-small-2;
    }
    @media (min-width: $bp-med-2) {
        font-size: $heading-font-size-med;
    }
    @media (min-width: $bp-large-2) {
        font-size: $heading-font-size-med;
    }
    @media (min-width: $bp-xl) {
        font-size: $heading-font-size-large;
    }
    @media (min-width: $bp-xl-2) {
        font-size: $heading-font-size-large;
    }
}

@mixin boardHeading() {
    font-size: 1.75vh;
    font-family: Safety Goggles; // PFRondaSeven Safety Goggles Atlantis
    font-weight: 500;
    text-align: center;
    color: #35464f;
    line-height: 1rem;

    @media (min-width: $bp-small) {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    @media (min-width: $bp-small-2) {
        line-height: 1.35rem;
        font-size: 1.55rem;
    }
    @media (min-width: $bp-small-3) {
        font-size: $heading-font-size-small-2;
        line-height: 1.5rem;
    }
    @media (min-width: $bp-med-2) {
        font-size: $heading-font-size-med;
        line-height: 2rem;
    }
    @media (min-width: $bp-large-2) {
        font-size: $heading-font-size-med;
    }
    @media (min-width: $bp-xl-2) {
        line-height: 2.5rem;
    }
}

@mixin goneFishHeading() {
    font-size: 1rem;
    font-family: Safety Goggles; // PFRondaSeven Safety Goggles Atlantis
    font-weight: 500;
    text-align: center;
    color: #35464f;
    line-height: 1rem;

    @media (min-width: $bp-small) {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    @media (min-width: $bp-small-2) {
        line-height: 1.35rem;
        font-size: 1.55rem;
    }
    @media (min-width: $bp-small-3) {
        font-size: $heading-font-size-small-2;
        line-height: 1.5rem;
    }
    @media (min-width: $bp-med) {
        font-size: 2.25rem;
    }
    @media (min-width: $bp-med-2) {
        font-size: 2.35rem;
        line-height: 2rem;
    }
    @media (min-width: $bp-large) {
        font-size: 2.35rem;
    }
    @media (min-width: $bp-xl) {
        font-size: 2.5rem;
    }
    @media (min-width: $bp-xl-2) {
        font-size: 2.75rem;
    }
    @media (min-width: $bp-xl-3) {
        font-size: 3rem;
    }
}

@mixin goneFishText() {
    font-size: 0.45rem;
    font-family: PFRondaSeven; // PFRondaSeven Safety Goggles Atlantis
    font-weight: 400;
    text-align: center;
    color: #35464f;
    line-height: 1rem;
    width: 88%;

    @media (min-width: $bp-small-2) {
        font-size: 0.5rem;
        line-height: 1.25rem;
    }
    @media (min-width: $bp-med) {
        font-size: 0.95rem;
        line-height: 1.85rem;
    }
    @media (min-width: $bp-xl) {
        font-size: 1rem;
    }
    @media (min-width: $bp-xl-2) {
        font-size: 1.1rem;
    }
    @media (min-width: $bp-xl-3) {
        font-size: 1.2rem;
    }
}

@mixin boardText() {
    font-size: $text-font-size-small;
    font-family: PFRondaSeven; // PFRondaSeven Safety Goggles Atlantis
    font-weight: 400;
    text-align: center;
    color: #35464f;
    line-height: 1.55rem;
    @media (min-width: $bp-small-2) {
        font-size: $text-font-size-small-2;
    }
    @media (min-width: $bp-med-2) {
        font-size: $text-font-size-med;
        line-height: 1.85rem;
    }
    @media (min-width: $bp-xl) {
        font-size: $text-font-size-large;
    }
    @media (min-width: $bp-xl-2) {
        font-size: $text-font-size-large;
    }
}

@mixin listText() {
    font-size: $list-text-font-size-small;
    font-family: PFRondaSeven; // PFRondaSeven Safety Goggles Atlantis
    font-weight: 400;
    text-align: center;

    @media (min-width: $bp-small) {
        font-size: $list-text-font-size-small-2;
    }

    @media (min-width: $bp-small-2) {
        font-size: $list-text-font-size-small-2;
    }

    @media (min-width: $bp-small-3) {
        //font-size: $list-text-font-size-small-2;
        font-size: $list-text-font-size-med;
    }
    @media (min-width: $bp-med-2) {
        font-size: $list-text-font-size-med;
    }

    @media (min-width: $bp-xl-2) {
        font-size: $list-text-font-size-large;
    }
}

@mixin text() {
    font-family: PFRondaSeven;
    text-align: center;
    font-size: $text-font-size-small;
    @media (min-width: $bp-small-3) {
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-med-2) {
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-large-2) {
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-xl) {
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-xl-2) {
        font-size: $text-font-size-small;
    }
}

@mixin large_button() {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #ffffff;

    @media (min-width: $bp-small) {
        width: 55%;
    }
    @media (min-width: $bp-small-2) {
        width: 50%;
    }
    @media (min-width: $bp-med-2) {
        width: 60%;
    }

    & > div {
        position: absolute;
        display: flex;
        text-align: center;
        align-items: center;
        height: 90%;
        & > span {
            width: 100%;
            font-size: 0.9rem;
            font-family: Safety Goggles;
            font-weight: 400;
            text-align: center;

            line-height: 1.05rem;
            @media (min-width: $bp-small) {
                font-size: 1rem;
            }
            @media (min-width: $bp-small-2) {
                font-size: 1.15rem;
            }
            @media (min-width: $bp-small-3) {
                font-size: 1.55rem;
                line-height: 1.35rem;
            }
            @media (min-width: $bp-med-2) {
                font-size: 1.75rem;
            }
            @media (min-width: $bp-xl) {
                font-size: $heading-font-size-med;
            }
        }
        & > img {
            margin-left: 0.3rem;
            max-height: 50%;
            width: auto !important;

            @media (min-width: $bp-small-3) {
                max-height: 65%;
            }
            @media (min-width: $bp-med-2) {
                max-height: 65%;
            }
            @media (min-width: $bp-large-2) {
                max-height: 65%;
            }
        }
        & > img:nth-child(2) {
            margin-left: 0.25rem;
        }
    }
    &:disabled {
        cursor: not-allowed !important;
        color: #a2b7b6;
        &:hover {
            color: #a2b7b6;
        }
    }
}

@mixin disconnect_button() {
    margin-top: 1rem;
    position: relative;
    width: 40%; //10.375rem;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #bed3d2;

    & > div {
        position: absolute;
        display: flex;
        text-align: center;
        align-items: center;
        height: 90%;
        & > span {
            font-size: 5vw;
            font-family: Safety Goggles;
            font-weight: 500;
            text-align: center;

            line-height: 1.15rem;
            @media (min-width: $bp-small-2) {
                font-size: $heading-font-size-small-2;
            }
        }
    }
    &:hover {
        color: #35454f;
    }
    &:disabled {
        cursor: not-allowed !important;
        color: #a2b7b6;
        &:hover {
            color: #a2b7b6;
        }
    }
}

.app {
    width: 100%;
    height: 100vh;
    background: 50% 30% / cover url("/challenger/img/sharing-ui/invite/Background.png");
    @include m.flex-master(null, center, center);
}

.pinkBtn {
    // 526 x 129
    @include large_button();
    &:hover {
        color: #ce3c85;
    }

    &:disabled {
        cursor: not-allowed !important;
        color: #a2b7b6 !important;
        &:hover {
            color: #a2b7b6 !important;
        }
    }
}

.unstoppableBtn {
    // 526 x 129
    @include large_button();
    &:hover {
        color: #559bce !important;
    }

    &:disabled {
        cursor: not-allowed !important;
        color: #a2b7b6 !important;
        &:hover {
            color: #a2b7b6 !important;
        }
    }
}

.purpleBtn {
    @include large_button();
    &:hover {
        color: #7967de !important;
    }
}

.claimBtn {
    @include m.flex-master(row, center, center);
    max-width: 50%;

    > button {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 0;
        color: #ffffff;

        & > div {
            position: absolute;
            display: flex;
            align-items: center;
            height: 90%;
            // width: 100%;
            gap: 0.45rem;
            & > div {
                @include m.flex-master(row, center, center);
                width: 100%;
                height: 100%;
                font-size: 1.35vh;
                font-family: Safety Goggles;
                font-weight: 400;
                line-height: 1rem;

                @media (min-width: $bp-small) {
                    font-size: 0.9rem;
                    line-height: 1rem;
                }
                @media (min-width: $bp-small-2) {
                    font-size: 1.3rem;
                }
                @media (min-width: $bp-small-3) {
                    font-size: 1.75rem;
                    line-height: 1.5rem;
                }

                & > img {
                    max-height: 50%;
                    width: auto !important;
                    margin-left: 0.4rem;

                    @media (min-width: $bp-small-3) {
                        max-height: 62%;
                    }
                    @media (min-width: $bp-med-2) {
                        max-height: 62%;
                    }
                    @media (min-width: $bp-large-2) {
                        max-height: 62%;
                    }
                    @media (min-width: $bp-xl) {
                    }
                }
            }
        }
        &:hover {
            color: #ce3c85;
        }

        &:disabled {
            cursor: not-allowed !important;
            color: #a2b7b6 !important;
            &:hover {
                color: #a2b7b6 !important;
            }
        }
    }
    // 526 x 129
}

.board {
    @include m.flex-master(column, center, center);
    width: 92%;
    height: 100%;
    position: relative;
    color: #fff;

    @media (min-width: $bp-large) {
        width: 45em;
    }
    @media (min-width: $bp-xl) {
        width: 50em;
    }
    @media (min-width: $bp-xl-2) {
        width: 52em;
    }
    @media (min-width: $bp-xl-3) {
        width: 65em;
    }

    &_dollar {
        position: absolute;
        width: 100%;
        top: 14.15%;
        display: flex;
        justify-content: center;

        @media (min-width: $bp-small-2) {
            top: 14.15%;
        }
        @media (min-width: $bp-small-3) {
            top: 14%;
        }
        @media (min-width: $bp-large-2) {
            top: 14.25%;
        }
        @media (min-width: $bp-xl-3) {
            top: 15%;
        }

        &_content {
            @include m.flex-master(row, center, center);
            font-family: PFRondaSeven;
            color: #f8d61d;
            margin-left: 7px;
            font-size: 2.25vw;

            @media (min-width: $bp-small) {
                margin-left: 12px;
                font-size: 0.5rem;
            }
            @media (min-width: $bp-small-2) {
                font-size: 0.675rem;
            }
            @media (min-width: $bp-small-3) {
                margin-left: 15px;
                font-size: 0.9rem;
            }
            @media (min-width: $bp-med) {
                font-size: 1rem;
            }
            @media (min-width: $bp-xl-2) {
                margin-left: 17px;
            }
            & > img {
                // height: 1.25vh;
                width: 0.65rem;
                margin-right: 1px;

                @media (min-width: $bp-small) {
                    // height: 1.4vh;
                    width: 0.75rem;
                    margin-right: 3px;
                }
                @media (min-width: $bp-small-2) {
                    // height: 1.65vh;
                    width: 0.95rem;
                }
                @media (min-width: $bp-small-3) {
                    // height: 2.1vh;
                    width: 1.25rem;
                }
                @media (min-width: $bp-large) {
                    // height: 2.2vh;
                }
                @media (min-width: $bp-large-2) {
                    width: 1.5rem;
                }

                @media (min-width: $bp-xl-2) {
                    // height: 2.2vh;
                }
            }
        }
    }
    &_container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 85.53%;
        background: url("/challenger/img/sharing-ui/invite/board_sm.png") no-repeat;
        background-size: contain;
    }
    &_disconnect {
        @include disconnect_button();
    }
    &_wrapper {
        @include m.flex-master(column, null, center);
        position: absolute;
        width: 100%;
        height: 54%;
        top: 32%;
        left: 0;
        padding: 0 19%;

        @media (min-width: $bp-small) {
            padding: 0 19%;
        }
        @media (min-width: $bp-small-2) {
            padding: 0 19%;
        }
        @media (min-width: $bp-small-3) {
            padding: 0 19%;
        }
        @media (min-width: $bp-med-2) {
            padding: 0 19%;
        }
        @media (min-width: $bp-xl-2) {
            //  padding: 0 5rem;
        }
    }
    &_content {
        @include m.flex-master(column, center, center);
        width: 100%;
        height: 100%;
        gap: 0.35rem;
        margin-left: 0.5rem;

        @media (min-width: $bp-small-2) {
            gap: 1rem;
        }
        @media (min-width: $bp-med-2) {
            gap: 1.5rem;
        }
        @media (min-width: $bp-xl) {
            gap: 1.75rem;
        }
    }
    &_loading {
        margin-bottom: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;

        &_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-family: PFRondaSeven;

            & > img {
                display: block;
                width: 30%;
                height: auto;

                @media (min-width: $bp-small) {
                    width: 30%;
                }
                @media (min-width: $bp-small-2) {
                    width: 40%;
                }
                @media (min-width: $bp-med) {
                    width: 60%;
                }
            }
            &_text {
                position: absolute;
                width: 100%;
                bottom: 10%;
                text-align: center;
                font-size: $text-font-size-small * 0.75;
                display: flex;
                flex-direction: row;
                justify-content: center;

                @media (min-width: $bp-small) {
                    font-size: $text-font-size-small;
                    bottom: 12%;
                }
                @media (min-width: $bp-small-2) {
                    font-size: $text-font-size-small-2;
                    bottom: 9%;
                }
                @media (min-width: $bp-med) {
                    font-size: $text-font-size-med;
                    bottom: 12%;
                }
                &_ellipsis {
                    width: 5px;
                    &:after {
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: bottom;
                        -webkit-animation: ellipsis steps(4, end) 900ms infinite;
                        animation: ellipsis steps(4, end) 900ms infinite;
                        content: "\2026"; /* ascii code for the ellipsis character */
                        width: 0px;
                    }
                }
            }
        }
    }
    &_headingIcon {
        height: 10%;
    }
    &_title {
        @include boardHeading();
    }
    &_goneFishTitle {
        @include goneFishHeading();
    }
    &_goneFishText {
        @include goneFishText();

        & > span {
            color: #2484b2;
        }
    }
    &_text {
        @include boardText();
        width: 85%;
        overflow-wrap: break-word;
    }
    &_pinkBtn {
        // 526 x 129
        @include large_button();
        &:hover {
            color: #ce3c85;
        }

        &:disabled {
            cursor: not-allowed !important;
            color: #a2b7b6 !important;
            &:hover {
                color: #a2b7b6 !important;
            }
        }
    }
    &_orangeBtn {
        @include large_button();
        &:hover {
            color: #e06655;
        }
    }
    &_tealBtn {
        @include large_button();
        &:hover {
            color: #559bce !important;
        }
    }
    &_blackBtn {
        @include large_button();
        &:hover {
            color: #bed3d2 !important;
        }
    }
    &_purpleBtn {
        @include large_button();
        &:hover {
            color: #7967de !important;
        }
    }
    &_signin {
        &_wrapper {
            @include m.flex-master(column, center, center);
            width: 100%;
            height: 75%;
        }
        &_content {
            @include m.flex-master(column, space-evenly, center);
            height: 100%;
            width: 100%;
        }
        &_title {
            @include boardHeading();
        }
    }
    &_imageUpload {
        &_wrapper {
            @include m.flex-master(row, space-evenly, center);
        }
        &_imagePreview {
            max-width: 30%;
            max-height: 35%;
        }
        &_imageName {
            @include listText();
            max-width: 100%;
            overflow-wrap: break-word;
        }
        &_chooseFileLabel {
            position: relative;

            width: 50%;
            & > span {
                position: absolute;
                width: 6rem;
            }
        }

        &_chooseFileButton {
            @include large_button();
            position: absolute;
            width: 6rem;
        }
    }
    &_input {
        &_wrapper {
            @include m.flex-master(column, space-evenly, center);
            width: 100%;
        }

        &_custom {
            font-family: PFRondaSeven;
            color: #35454f;
            width: 60%;
            padding-bottom: 3px;
            background: url("/challenger/img/sharing-ui/invite/Text Input Box.png") no-repeat;
            background-size: 100% 100%;

            background-color: rgba(0, 0, 0, 0);
            border: transparent solid 1px;
            text-align: center;
            position: relative;

            &::-webkit-input-placeholder {
                color: #a3b7b6;
            }
            &::-moz-placeholder {
                color: #a3b7b6;
            }
            &:-ms-input-placeholder {
                color: #a3b7b6;
            }
            &:-moz-placeholder {
                color: #a3b7b6;
            }

            font-size: 1.35vh;
            @media (min-width: $bp-small) {
                font-size: 1rem;
            }
            @media (min-width: $bp-small-2) {
                font-size: 1.25rem;
            }
            @media (min-width: $bp-small-3) {
                font-size: 1.45rem;
            }
            @media (min-width: $bp-med) {
                //    font-size: 2.05vh;
                font-size: 1.65rem;
            }
            @media (min-width: $bp-med-2) {
                font-size: 1.85rem;
            }
        }
        &_error {
            height: 0.7rem;
            color: #c1344f;
            font-weight: 600;
        }
    }
    &_buttonContainer {
        @include m.flex-master(row, center, center);
        max-width: 50%;

        & > button:nth-child(2) {
            margin-left: 0.75rem;
        }
    }
    &_singleClaimBtn {
        // 526 x 129
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 0;
        color: #ffffff;

        & > div {
            position: absolute;
            display: flex;
            align-items: center;
            height: 90%;
            // width: 100%;
            gap: 0.45rem;
            & > div {
                @include m.flex-master(row, center, center);
                width: 100%;
                height: 100%;
                font-size: 1.35vh;
                font-family: Safety Goggles;
                font-weight: 400;
                line-height: 1rem;

                @media (min-width: $bp-small) {
                    font-size: 0.9rem;
                    line-height: 1rem;
                }
                @media (min-width: $bp-small-2) {
                    font-size: 1.3rem;
                }
                @media (min-width: $bp-small-3) {
                    font-size: 1.75rem;
                    line-height: 1.5rem;
                }

                & > img {
                    max-height: 50%;
                    width: auto !important;
                    margin-left: 0.4rem;

                    @media (min-width: $bp-small-3) {
                        max-height: 62%;
                    }
                    @media (min-width: $bp-med-2) {
                        max-height: 62%;
                    }
                    @media (min-width: $bp-large-2) {
                        max-height: 62%;
                    }
                    @media (min-width: $bp-xl) {
                    }
                }
            }
        }
        &:hover {
            color: #ce3c85;
        }

        &:disabled {
            cursor: not-allowed !important;
            color: #a2b7b6 !important;
            &:hover {
                color: #a2b7b6 !important;
            }
        }
    }
}

.boardLarge {
    @include m.flex-master(column, center, center);
    width: 100%;
    height: 100%;
    position: relative;

    &_layout {
        @include m.flex-master(null, center, center);
        position: relative;
        height: 70%;
        width: auto;
        max-width: 85%;
    }
    &_wrapper {
        @include m.flex-master(null, center, center);
        position: relative;
        width: 100%;
        height: 100%;
    }
    &_bgImg {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &_dollar {
        position: absolute;
        width: 100%;
        top: 9%;
        display: flex;
        justify-content: center;

        @media (min-width: $bp-small) {
            top: 8.85%;
        }
        @media (min-width: $bp-small-2) {
            top: 11.55%;
        }
        // @media (min-width: $bp-med) {
        //     top: 11.55%;
        // }
        // @media (min-width: $bp-large) {
        //     top: 11.55%;
        // }
        // @media (min-width: $bp-xl) {
        //     top: 11.55%;
        // }

        &_content {
            @include m.flex-master(row, center, center);
            font-family: PFRondaSeven;
            color: #f8d61d;
            margin-left: 7px;
            font-size: 2.25vw;

            @media (min-width: $bp-small) {
                margin-left: 12px;
                font-size: 0.5rem;
            }
            @media (min-width: $bp-small-2) {
                font-size: 0.675rem;
            }
            @media (min-width: $bp-small-3) {
                margin-left: 15px;
                font-size: 0.9rem;
            }
            @media (min-width: $bp-med) {
                font-size: 1rem;
            }
            @media (min-width: $bp-xl-2) {
                margin-left: 17px;
            }

            & > img {
                height: 1.25vh;
                margin-right: 1px;

                @media (min-width: $bp-small) {
                    height: 1.4vh;
                    margin-right: 3px;
                }
                @media (min-width: $bp-small-2) {
                    height: 1.65vh;
                }

                @media (min-width: $bp-small-3) {
                    height: 1.9vh;
                }
                @media (min-width: $bp-large-2) {
                    height: 2.2vh;
                }

                @media (min-width: $bp-xl-2) {
                    height: 2.2vh;
                }
            }
        }
    }
    &_container {
        // position: absolute;
        // top: 0;
        // width: 100%;
        // height: 100%;
        @include m.flex-master(column, center, center);
        position: absolute;
        width: 100%;
        height: 72%;
        top: 21%;
        left: 0%;
        padding: 0 18% 0 20.4%;

        @media (min-width: $bp-small-2) {
            height: 65.5%;
            top: 27%;
            padding: 0 18% 0 20.4%;
        }
    }

    &_content {
        @include m.flex-master(column, center, center);
        width: 100%;
        height: 100%;
        gap: 0.5rem;
        padding-top: 0.25rem;

        @media (min-width: $bp-small) {
            padding-top: 0.5rem;
        }
        @media (min-width: $bp-small-2) {
            padding-top: 1rem;
            gap: 0.75rem;
        }
        @media (min-width: $bp-small-3) {
            padding-top: 1rem;
            gap: 1rem;
        }
    }

    &_title {
        @include boardHeading();
        overflow-wrap: break-word;
        & > div:nth-child(2) {
            margin-top: 0.15rem;
            font-size: 0.65em;
            color: #617e82;
            line-height: 1rem;

            @media (min-width: $bp-small-2) {
                margin-top: 0.25rem;
            }
        }
    }

    &_footer {
        @include m.flex-master(row, center, null);
        flex: 12%;
        width: 100%;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        @media (min-width: $bp-small-2) {
            flex: 14%;
            gap: 1rem;
        }

        @media (min-width: $bp-large-2) {
            gap: 1.5rem;
            // margin-bottom: 0.75rem;
        }
        @media (min-width: $bp-xl) {
            gap: 2rem;
            // margin-bottom: 2rem;
        }

        & > button {
            width: 15%;
            height: auto;
            margin-bottom: 0.5rem;
            @media (min-width: $bp-small) {
                width: 15%;
            }
            @media (min-width: $bp-small-2) {
                width: 15%;
            }

            @media (min-width: $bp-small-3) {
                width: 15%;
            }
            @media (min-width: $bp-large-2) {
                width: 17%;
            }
        }

        & > button:nth-child(2) {
            // margin-left: -0.5rem;
        }
    }
    &_orangeBtn {
        @include text();
        @include m.flex-master(row, center, center);
        background-image: url("/challenger/img/sharing-ui/invite/button_wallet.png"); // 166 x 31
        background-size: cover;
        margin-top: 0.75rem;
        width: 10.375rem;
        height: 1.9375rem;
        @media (min-width: $bp-small) {
            width: 15.5625rem;
            height: 2.90675rem;
            font-size: 1rem;
        }
        @media (min-width: $bp-small-2) {
            width: 20.875rem;
            height: 3.875rem;
            font-size: 1.375rem;
        }
        &:disabled {
            background-image: url("/challenger/img/sharing-ui/invite/button_wallet-disable.png"); // 166 x 31
            background-size: cover;
        }
    }
    &_yellowText {
        @include text();
        @include m.flex-master(row, center, null);
        margin-top: 2%;
        color: #f8d61d;
        align-self: center;
        width: 4.6rem;
        height: 2.16rem;

        @media (min-width: $bp-small-2) {
            width: 94px;
            height: 44px;
        }
    }

    &_scrollableArea {
        // @include m.flex-master(column, space-between, null);
        @include m.flex-master(column, flex-start, null);
        width: 100%;
        flex: 90%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        gap: 0.6rem;
        scrollbar-width: none;

        @media (min-width: $bp-small) {
            gap: 0.675rem;
            flex: 75%;
        }
        @media (min-width: $bp-small-2) {
            gap: 0.6rem;
            flex: 90%;
        }

        @media (min-width: $bp-small-3) {
            gap: 0.85rem;
            flex: 85%;
            //padding-bottom: 0.5rem;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_loading {
        margin-bottom: 4.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;

        &_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            align-items: center;
            height: 100%;

            & > img {
                display: block;
                width: 45%;
                height: auto;

                @media (min-width: $bp-small) {
                    width: 50%;
                }
                @media (min-width: $bp-small-2) {
                    width: 40%;
                }
                @media (min-width: $bp-med) {
                    width: 50%;
                }
            }
            &_text {
                position: absolute;
                width: 100%;
                bottom: 1%;
                text-align: center;
                font-size: $text-font-size-small * 0.85;
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: #35464f;
                font-family: PFRondaSeven;

                @media (min-width: $bp-small) {
                    font-size: 0.75rem;
                    bottom: 3%;
                }
                @media (min-width: $bp-small-2) {
                    font-size: 0.8rem;
                    bottom: -5%;
                }
                @media (min-width: $bp-small-3) {
                    font-size: 0.85rem;
                    bottom: 1%;
                }

                @media (min-width: $bp-med-2) {
                    font-size: 1.15rem;
                    bottom: 1%;
                }

                &_ellipsis {
                    width: 5px;
                    &:after {
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: bottom;
                        -webkit-animation: ellipsis steps(4, end) 900ms infinite;
                        animation: ellipsis steps(4, end) 900ms infinite;
                        content: "\2026"; /* ascii code for the ellipsis character */
                        width: 0px;
                    }
                }
            }
        }
    }

    &_list {
        &_container {
            @include m.flex-master(row, null, null);
            @include text();
            background: url("/challenger/img/sharing-ui/invite/Quest_List bg_Mobile.png") no-repeat;
            background-size: 100% 100%;
            text-align: left;

            padding: 0.6rem;
            max-height: 30%;
            min-height: 30%;

            @media (min-width: $bp-small-2) {
                padding: 0.5rem 1rem;
            }

            @media (min-width: $bp-small-3) {
                background: url("/challenger/img/sharing-ui/invite/Quest_List bg.png") no-repeat;
                background-size: 100% 100%;
                padding: 0.5rem 1.5rem;
            }
        }
        &_text {
            @include listText();
            @include m.flex-master(row, flex-start, center);
            text-align: left;
            color: #a3eae5;
            flex: 70%;
            padding-right: 0.1rem;
        }
        &_reward {
            @include listText();
            @include m.flex-master(row, center, center);
            flex: 25%;
            color: #a3eae5;
            font-weight: bold;

            & > img {
                margin-left: 0.2rem;
            }
        }
        &_action {
            @include m.flex-master(row, flex-end, center);
            height: 100%;
            flex: 25%;
        }
        &_doneBtn {
            position: relative;
            width: auto;
            display: flex;
            justify-content: center;
            padding: 0;
            color: #5ec1d3 !important;

            & > div {
                position: absolute;
                display: flex;
                text-align: center;
                align-items: center;
                height: 87%;
                & > span {
                    font-size: 5vw;
                    font-family: Safety Goggles;
                    font-weight: 500;
                    text-align: center;

                    line-height: 1.15rem;
                    @media (min-width: $bp-small-2) {
                        font-size: $heading-font-size-small-2;
                    }
                }
            }
            &:hover {
                color: #5ec1d3;
                cursor: default;
            }
            &:disabled {
                cursor: not-allowed !important;
                color: #5ec1d3 !important;
                &:hover {
                    color: #5ec1d3 !important;
                }
            }
        }
        &_button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0;
            min-width: 3rem;
            color: #ffffff;
            color: #ffffff;

            & > img {
                max-height: 100%;
                @media (min-width: $bp-small-2) {
                    max-height: 96%;
                }
            }
            & > div {
                position: absolute;
                display: flex;

                text-align: center;
                align-items: center;
                height: 100%;
                & > span {
                    @include listText();
                    margin-right: 0.2rem;
                    font-weight: 600;
                }

                & > img {
                    max-height: 55%;
                    width: auto !important;
                    @media (min-width: $bp-small-2) {
                        max-height: 85%;
                    }
                }
            }

            &:hover {
                color: #ce3c85;
            }

            &:disabled {
                cursor: not-allowed !important;
                color: #394b54;
            }
        }

        &_questBtn {
            position: relative;
            width: auto;
            display: flex;
            justify-content: center;
            padding: 0;
            color: #ffffff;

            & > div {
                position: absolute;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 87%;
                gap: 0.25rem;
                & > span {
                    font-size: 4vw;
                    font-family: Safety Goggles;
                    font-weight: 500;
                    text-align: center;

                    line-height: 1.15rem;
                    @media (min-width: $bp-small-2) {
                        font-size: 1.25rem;
                    }
                    @media (min-width: $bp-med-2) {
                        font-size: 1.75rem;
                    }
                }
                & > img {
                    max-height: 55%;
                    width: auto !important;
                    @media (min-width: $bp-small-2) {
                        max-height: 55%;
                    }
                }
            }
            &:hover {
                color: #ce3c85;
                cursor: pointer;
            }
        }

        /* same as above, except ranking has color style*/
        &_ranking {
            &_container {
                position: relative;
                @include m.flex-master(row, null, null);
                @include text();
                background: url("/challenger/img/sharing-ui/invite/Ranking_List bg.png") no-repeat;
                background-size: 100% 100%;
                text-align: left;

                max-height: 20%;
                min-height: 20%;
                margin-left: 0.75rem;
                padding-right: 1rem;

                @media (min-width: $bp-small) {
                    margin-left: 1.25rem;
                }

                @media (min-width: $bp-small-2) {
                    max-height: 27%;
                    min-height: 27%;
                    margin-left: 6%;
                }
            }
            &_text {
                @include m.flex-master(row, space-between, center);
                width: 100%;
                font-size: 0.475rem;
                text-decoration: none;
                font-family: PFRondaSeven;
                color: #8ed5fb;

                & > div:nth-child(1) {
                    margin-left: 1.85rem;
                    max-width: 75%;
                    @media (min-width: $bp-small) {
                        margin-left: 2.5rem;
                    }
                    @media (min-width: $bp-small-2) {
                        margin-left: 2.5rem;
                    }
                    @media (min-width: $bp-small-3) {
                        margin-left: 3rem;
                    }
                    @media (min-width: $bp-large-2) {
                        margin-left: 14%;
                    }
                }

                &:hover {
                    color: #8ed5fb;
                }

                @media (min-width: $bp-small) {
                    font-size: 0.5rem;
                }
                @media (min-width: $bp-small-2) {
                    font-size: 0.65rem;
                }
                @media (min-width: $bp-small-3) {
                    font-size: 0.725rem;
                }
                @media (min-width: $bp-large) {
                    font-size: 0.8rem;
                }
            }
            &_numberContainer {
                position: absolute;
                left: 0;
                height: 100%;

                &_img {
                    margin-left: -33%;
                    height: 100%;
                }
                z-index: 1;
            }
            &_digit {
                position: absolute;
                left: 0;
                font-family: Safety Goggles;
                font-size: 1.65rem;
                z-index: 2;
                height: 100%;
                @include m.flex-master(row, center, center);
            }
        }
    }
    &_rankingCol {
        @include m.flex-master(row, space-between, center);
        width: 100%;
        margin-top: -0.5rem; // to offset the gap and not mess up other styles
        margin-bottom: -0.5rem;

        > div {
            color: #0d5b91;
            font-family: PFRondaSeven;
        }
        > div:nth-child(1) {
            margin-left: 2.75rem;
            font-size: 0.5rem;
            @media (min-width: $bp-small) {
                margin-left: 3.75rem;
                font-size: 0.6rem;
            }
            @media (min-width: $bp-small-2) {
                font-size: 0.85rem;
            }
            @media (min-width: $bp-small-3) {
                font-size: 1rem;
                margin-left: 4.25rem;
            }
        }
        > div:nth-child(2) {
            margin-right: 1rem;
            font-size: 0.5rem;
            @media (min-width: $bp-small) {
                font-size: 0.6rem;
            }
            @media (min-width: $bp-small-2) {
                font-size: 0.85rem;
            }
            @media (min-width: $bp-small-3) {
                font-size: 1rem;
            }
        }
    }

    &_disconnect {
        @include disconnect_button();
    }
    z-index: 3;
}

.close {
    animation: bounce-out 1.5s 0.5s 3 ease-in;
}
.open {
    animation: bounce-in 1.5s ease-in;
}

.slidedown {
    animation: bounce-in 1.5s ease-in;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@mixin pointer() {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
            14 0,
        pointer;
}
@mixin pointerDisabled() {
    cursor: not-allowed;
}
