// Google Font
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
// // Line Awesome

@import url("/icons/bootstrap-icons/bootstrap-icons.css");
@import url("/icons/remix-icon/remixicon.css");
